<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <title>Home</title>
    <style>
        html,
        body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            background-color: #34495e;
            vertical-align: middle;
            position: absolute;
            top: 20%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: 160px;
            overflow: hidden;
            font-size: 35px;
            line-height: 40px;
            color: #ecf0f1;
        }

        .list-group-item {

            background-color: #34495d;
            border: 1px solid #ffffff80;
            font-size: 17px;
        }
    </style>
</head>
<body>


<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <h1>Select date </h1>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id='datetimepicker4'/>

                </div>

            </div>
            <button class="btn btn-default" onclick="getRestaurants()">search</button>

        </div>
        <div class="col-sm-8" style=" overflow: scroll;max-height:600px;">

            <h2>Restaurants</h2>
            <ul class="list-group" id="listRest">
            </ul>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker();
            });
        </script>
    </div>
</div>

<script>

    function getRestaurants() {

        console.log($('#datetimepicker4').val())
        $.ajax({
            url: "/searching", // Url to which the request is send
            type: "get",             // Type of request to be send, called as method
            data: {
                dateTime: $('#datetimepicker4').val(),
            }, // Data sent to server, a set of key/value pairs (i.e. form fields and values)

            success: function (data)   // A function to be called if request succeeds
            {

                if (data.status == 200) {

                    console.log(data.data)

                    var html = "";
                    data.data.map((e) => {

                        html += ' <li class="list-group-item">' + e + '</li>';
                    })
                    $('#listRest').html(html)
                } else {

                    alert("Please try again")
                }


            }
        });

    }
</script>
</body>
</html>